In [21]:
from jugaad_data.nse import stock_df
import collections
from datetime import datetime
from datetime import timedelta
import numpy as np
import yfinance as yf
from calendar import monthrange
import calendar
import pandas as pd
import matplotlib.pyplot as plt 
import requests
from tslearn.clustering import TimeSeriesKMeans
from tslearn.preprocessing import TimeSeriesScalerMeanVariance
from tqdm import tqdm
import sqlalchemy
import math
from sqlalchemy import create_engine

from sqlalchemy import create_engine, insert, MetaData, Table, Column, String, Integer, select, column

from llama_index import SQLDatabase, ServiceContext
from langchain import OpenAI
from llama_index import LLMPredictor

In [22]:
import os
os.environ['OPENAI_API_KEY'] = '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'

In [23]:
def tickers_in_index():
    df = pd.read_csv('data.csv')
    return np.array(df['SYMBOL \n'][1:].values).tolist()

def get_pandas_frame(start_year, end_year):
    stock_tickers = tickers_in_index()
    stock_tickers = list(map(lambda x : x +'.NS' , stock_tickers))
    return stock_tickers, yf.download(" ".join(stock_tickers), start=f"{start_year}-01-01", end=f"{end_year}-12-31")

def make_sql_db(db_name):
    engine = create_engine('sqlite:///:memory:', echo=False)
    tickers, stock_frame = get_pandas_frame(start_year=2010, end_year=2023)
    stock_frame.to_sql(db_name, con=engine)
    return stock_frame, engine

In [24]:
stock_tickers, stock_frame = get_pandas_frame(start_year=2010, end_year=2023)

[*********************100%***********************]  250 of 250 completed

In [6]:
stock_frame['Adj Close']

,3MINDIA.NS,AARTIIND.NS,AAVAS.NS,ABB.NS,ABBOTINDIA.NS,ABCAPITAL.NS,ABFRL.NS,ACC.NS,ADANIENT.NS,ADANIGREEN.NS,...,VEDL.NS,VINATIORGA.NS,VOLTAS.NS,WHIRLPOOL.NS,WIPRO.NS,YESBANK.NS,ZEEL.NS,ZFCVINDIA.NS,ZOMATO.NS,ZYDUSLIFE.NS
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,1786.054565,8.927492,NaN,711.613770,245.487183,NaN,NaN,708.181274,57.238934,NaN,...,145.668930,29.929398,151.120331,20.545835,136.690506,47.860268,105.713051,523.933594,NaN,76.565102
2010-01-05,1785.716797,8.927492,NaN,709.800659,245.487183,NaN,NaN,698.995789,58.563435,NaN,...,146.742477,29.447721,150.818832,20.545835,138.847839,48.564499,106.864380,536.666199,NaN,78.537926
2010-01-06,1775.680298,8.909548,NaN,710.033081,245.487183,NaN,NaN,703.530090,64.343094,NaN,...,145.176178,30.476749,154.135849,20.545835,136.040314,47.878098,109.229866,530.348572,NaN,79.218582
2010-01-07,1790.156006,8.846740,NaN,727.326050,245.487183,NaN,NaN,707.987244,61.687756,NaN,...,143.539413,30.038862,158.616089,20.545835,133.626846,47.066914,109.292641,541.866150,NaN,79.270523
2010-01-08,1785.909790,8.882632,NaN,740.063354,707.276489,NaN,NaN,707.057190,62.467239,NaN,...,142.272278,29.447721,155.945160,137.720551,131.617294,46.844059,107.659866,543.421326,NaN,79.731995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-10,27820.400391,454.100006,1545.500000,4369.649902,23470.449219,185.000000,215.050003,1794.699951,2410.250000,959.450012,...,282.250000,1810.349976,758.049988,1452.800049,389.950012,17.049999,201.500000,11994.650391,74.800003,581.599976
2023-07-11,27972.400391,449.200012,1552.800049,4499.250000,23693.199219,183.800003,217.899994,1783.250000,2422.899902,965.150024,...,277.549988,1810.099976,759.299988,1458.449951,392.049988,17.200001,202.000000,12021.400391,76.800003,584.849976
2023-07-12,28454.900391,455.500000,1548.949951,4528.450195,23564.500000,188.449997,213.750000,1789.650024,2387.899902,954.549988,...,277.649994,1810.750000,762.349976,1455.050049,391.850006,17.299999,201.949997,12135.200195,77.500000,593.400024
2023-07-13,28842.949219,448.299988,1525.300049,4407.299805,23392.550781,187.449997,216.600006,1770.500000,2362.050049,947.049988,...,278.049988,1803.199951,748.849976,1434.900024,394.299988,17.150000,198.899994,12348.799805,82.199997,591.450012
2023-07-14,28597.449219,453.299988,1558.650024,4383.799805,23293.900391,189.100006,214.899994,1777.500000,2376.100098,965.200012,...,284.850006,1806.250000,754.700012,1437.099976,405.049988,17.350000,216.000000,12553.000000,82.550003,595.349976

In [25]:
engine = create_engine("sqlite:///:memory:")
metadata_obj = MetaData()

In [26]:
# create city SQL table
table_name = "stock_index"
stock_index_table = Table(
    "stock_index",
    metadata_obj,
        Column("Date", sqlalchemy.DateTime, default=datetime.utcnow),
    Column("stock", String(16), nullable=False),
    Column("closing_price", sqlalchemy.Float),
    Column("opening_price", sqlalchemy.Float),
)
opening_price_table = Table(
    "first_valid_date",
    metadata_obj,
    Column("Date", sqlalchemy.DateTime, default=datetime.utcnow),
)
last_price_table = Table(
    "last_valid_date",
    metadata_obj,
    Column("Date", sqlalchemy.DateTime, default=datetime.utcnow),
)
metadata_obj.create_all(engine)

In [27]:
sql_database = SQLDatabase(engine, include_tables=["stock_index"])

In [28]:
sql_database.table_info

'\nCREATE TABLE stock_index (\n\t"Date" DATETIME, \n\tstock VARCHAR(16) NOT NULL, \n\tclosing_price FLOAT, \n\topening_price FLOAT\n)\n\n/*\n3 rows from stock_index table:\nDate\tstock\tclosing_price\topening_price\n\n*/'

In [11]:
stock_tickers

['LODHA.NS',
 'TRIDENT.NS',
 'BEL.NS',
 'NAUKRI.NS',
 'AWL.NS',
 'ADANIPOWER.NS',
 'TTML.NS',
 'INDIGO.NS',
 'GRINDWELL.NS',
 'MPHASIS.NS',
 'RELIANCE.NS',
 'PATANJALI.NS',
 'MOTHERSON.NS',
 'SKFINDIA.NS',
 'COFORGE.NS',
 'GMRINFRA.NS',
 'IPCALAB.NS',
 'HONAUT.NS',
 'NESTLEIND.NS',
 'MANYAVAR.NS',
 'PIIND.NS',
 'LINDEINDIA.NS',
 'GLAXO.NS',
 'BANDHANBNK.NS',
 'NAM-INDIA.NS',
 'INFY.NS',
 'ICICIBANK.NS',
 'TRENT.NS',
 'AFFLE.NS',
 'ALKEM.NS',
 'UNOMINDA.NS',
 'APOLLOTYRE.NS',
 'TATAMOTORS.NS',
 'BAYERCROP.NS',
 'TATAPOWER.NS',
 'BANKBARODA.NS',
 'LTIM.NS',
 'BLUEDART.NS',
 'DMART.NS',
 'M&MFIN.NS',
 'MRF.NS',
 'FEDERALBNK.NS',
 'SUNTV.NS',
 'DIXON.NS',
 'SBICARD.NS',
 'ENDURANCE.NS',
 'JUBLFOOD.NS',
 'SYNGENE.NS',
 'ACC.NS',
 'CLEAN.NS',
 'MCDOWELL-N.NS',
 'BIOCON.NS',
 'DEEPAKNTR.NS',
 'DABUR.NS',
 'DALBHARAT.NS',
 'PETRONET.NS',
 'TCS.NS',
 'COROMANDEL.NS',
 'TATACHEM.NS',
 'ASHOKLEY.NS',
 'TECHM.NS',
 'VBL.NS',
 'TATACONSUM.NS',
 'ZFCVINDIA.NS',
 'PEL.NS',
 'LICHSGFIN.NS',
 'OBEROIRLTY.NS',
 'BHARATFORG.NS',
 'KPRMILL.NS',
 'CONCOR.NS',
 'POLICYBZR.NS',
 'RELAXO.NS',
 'VINATIORGA.NS',
 'AXISBANK.NS',
 'HDFCAMC.NS',
 'ABFRL.NS',
 'HEROMOTOCO.NS',
 'WIPRO.NS',
 'BAJAJFINSV.NS',
 'HCLTECH.NS',
 'NAVINFLUOR.NS',
 'ICICIPRULI.NS',
 'KAJARIACER.NS',
 'CHOLAFIN.NS',
 'WHIRLPOOL.NS',
 'DRREDDY.NS',
 'IOC.NS',
 'INDHOTEL.NS',
 'SCHAEFFLER.NS',
 'PIDILITIND.NS',
 'ISEC.NS',
 'LALPATHLAB.NS',
 'L&TFH.NS',
 'JSWSTEEL.NS',
 'CIPLA.NS',
 'HINDPETRO.NS',
 'POONAWALLA.NS',
 'TATACOMM.NS',
 'IRCTC.NS',
 'OFSS.NS',
 'UPL.NS',
 'POWERGRID.NS',
 'PERSISTENT.NS',
 'SUMICHEM.NS',
 'HDFCBANK.NS',
 'AUROPHARMA.NS',
 'MSUMI.NS',
 'SBIN.NS',
 'BPCL.NS',
 'KANSAINER.NS',
 'NMDC.NS',
 'AARTIIND.NS',
 'M&M.NS',
 'MARICO.NS',
 'BOSCHLTD.NS',
 'BAJAJHLDNG.NS',
 'HINDUNILVR.NS',
 'IRFC.NS',
 'INDUSINDBK.NS',
 'ONGC.NS',
 'BERGEPAINT.NS',
 'UBL.NS',
 'BRITANNIA.NS',
 'ABBOTINDIA.NS',
 'THERMAX.NS',
 'HINDALCO.NS',
 'HDFCLIFE.NS',
 'SUNDARMFIN.NS',
 'HAL.NS',
 'RAMCOCEM.NS',
 'JSWENERGY.NS',
 'DLF.NS',
 'HAVELLS.NS',
 'BHARTIARTL.NS',
 'NTPC.NS',
 'IDFCFIRSTB.NS',
 'COLPAL.NS',
 'CANBK.NS',
 'TATASTEEL.NS',
 'DELHIVERY.NS',
 'LT.NS',
 'MFSL.NS',
 'POLYCAB.NS',
 'SAIL.NS',
 'SHREECEM.NS',
 'PAYTM.NS',
 'ESCORTS.NS',
 'RAJESHEXPO.NS',
 'BATAINDIA.NS',
 'KOTAKBANK.NS',
 'MUTHOOTFIN.NS',
 'GODREJPROP.NS',
 'SOLARINDS.NS',
 'SHRIRAMFIN.NS',
 'HDFC.NS',
 'TIMKEN.NS',
 'EICHERMOT.NS',
 'SUNDRMFAST.NS',
 'VOLTAS.NS',
 'LICI.NS',
 'APLAPOLLO.NS',
 'PFC.NS',
 'PNB.NS',
 'ULTRACEMCO.NS',
 'PGHH.NS',
 'DEVYANI.NS',
 'AMBUJACEM.NS',
 'IGL.NS',
 'PRESTIGE.NS',
 'GODREJIND.NS',
 'FINEORG.NS',
 'YESBANK.NS',
 'GRASIM.NS',
 'ATGL.NS',
 'DIVISLAB.NS',
 'GODREJCP.NS',
 'INDUSTOWER.NS',
 'SRF.NS',
 'COALINDIA.NS',
 'RECLTD.NS',
 'SBILIFE.NS',
 'ITC.NS',
 'HAPPSTMNDS.NS',
 'TATAELXSI.NS',
 'ADANIENT.NS',
 'GLAND.NS',
 'SIEMENS.NS',
 'AIAENG.NS',
 'MARUTI.NS',
 'ZYDUSLIFE.NS',
 'TITAN.NS',
 'METROBRAND.NS',
 'LTTS.NS',
 'BHEL.NS',
 'BAJAJ-AUTO.NS',
 'ADANITRANS.NS',
 'GAIL.NS',
 'ABCAPITAL.NS',
 'AJANTPHARM.NS',
 'CROMPTON.NS',
 'BAJFINANCE.NS',
 'UNIONBANK.NS',
 'ASIANPAINT.NS',
 'JINDALSTEL.NS',
 'TVSMOTOR.NS',
 'TORNTPHARM.NS',
 'ZOMATO.NS',
 'ICICIGI.NS',
 'SONACOMS.NS',
 'AAVAS.NS',
 'ADANIGREEN.NS',
 'BALKRISIND.NS',
 'EMAMILTD.NS',
 'FLUOROCHEM.NS',
 'FORTIS.NS',
 'SUPREMEIND.NS',
 'ASTRAL.NS',
 'PAGEIND.NS',
 'ATUL.NS',
 'LUPIN.NS',
 'TIINDIA.NS',
 '3MINDIA.NS',
 'ADANIPORTS.NS',
 'CUMMINSIND.NS',
 'NIACL.NS',
 'CRISIL.NS',
 'IDEA.NS',
 'ALKYLAMINE.NS',
 'PFIZER.NS',
 'SUNPHARMA.NS',
 'ABB.NS',
 'AUBANK.NS',
 'APOLLOHOSP.NS',
 'INDIANB.NS',
 'TORNTPOWER.NS',
 'JKCEMENT.NS',
 'ZEEL.NS',
 'LAURUSLABS.NS',
 'STARHEALTH.NS',
 'CGPOWER.NS',
 'GUJGASLTD.NS',
 'HINDZINC.NS',
 'VEDL.NS',
 'GICRE.NS',
 'NYKAA.NS',
 'BANKINDIA.NS',
 'MAXHEALTH.NS',
 'PHOENIXLTD.NS',
 'NHPC.NS',
 'OIL.NS']

In [ ]:
sql_database = SQLDatabase(engine, include_tables=["stock_index", "first_valid_date", "last_valid_date"])
with engine.connect() as connection:
#     for ticker in ['TORNTPHARM.NS', 'CUMMINSIND.NS', 'ATUL.NS', 'RELIANCE.NS']:
    for ticker in stock_tickers:
        for key, value in stock_frame['Close'][ticker].items():
            open_value = stock_frame['Open'][ticker][key]
            if not math.isnan(value) and not math.isnan(open_value):
                stmt = insert(stock_index_table).values({"Date": key.to_pydatetime(), "stock" : ticker, "closing_price": value, "opening_price": open_value})
                cursor = connection.execute(stmt)
    connection.commit()

In [13]:
from sqlalchemy import text

with engine.connect() as con:
    rows = con.execute(text("select start.stock_ticker, COUNT(start.stock_ticker) from (select MIN(Date) as first_b_day, MAX(Date) as last_b_day FROM stock_index \nWHERE strftime('%m', Date) = '07' \nGROUP BY strftime('%Y', Date) \nORDER BY Date ASC) as date_table LEFT JOIN (select opening_price, Date as start_date, stock as stock_ticker from stock_index) as start on  date_table.first_b_day = start.start_date LEFT JOIN (select closing_price, Date as end_date, stock as stock_ticker from stock_index) as end on date_table.last_b_day = end.end_date where ((end.closing_price - start.opening_price) / start.opening_price)*100 >= 4 and end.stock_ticker=start.stock_ticker GROUP BY start.stock_ticker;"))
    for row in rows:
        print(row)

('ATUL.NS', 8)
('CUMMINSIND.NS', 4)
('RELIANCE.NS', 5)
('TORNTPHARM.NS', 12)

In [14]:
#@title: Sequential Chaining via LangChain
'''
1) Find opening and closing dates for a given month for all years in the entire database.
2) Find opening price for all the stocks. 
3) Find closing price for all the stocks.
4) Join the database.
5) Find %change.
6) Count unique.
'''

'\n1) Find opening and closing dates for a given month for all years in the entire database.\n2) Find opening price for all the stocks. \n3) Find closing price for all the stocks.\n4) Join the database.\n5) Find %change.\n6) Count unique.\n'

In [17]:
from llama_index.indices.struct_store.sql_query import NLSQLTableQueryEngine

query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database,
    tables=["stock_index", "first_valid_date", "last_valid_date"],
)
opening_dates = query_engine.query("Find first date in month of July and group them by year.")
closing_dates = query_engine.query("Find last date in month of July and group them by year.")

In [18]:
from sqlalchemy import text
date_format = '%Y-%m-%d %H:%M:%S.%f'

with engine.connect() as con:
    for res in opening_dates.metadata['result']:
        con.execute(insert(opening_price_table).values({"Date" : datetime.strptime(res[-1], date_format)}))
    con.commit()
#     for row in rows:
#         print(row)

In [19]:
with engine.connect() as con:
    for res in closing_dates.metadata['result']:
        con.execute(insert(last_price_table).values({"Date" : datetime.strptime(res[-1], date_format)}))
    con.commit()

In [20]:
opening_prices = query_engine.query("Get opening price and stock name for all dates in first_valid_date table from stock_index table")
closing_prices = query_engine.query("Get closing price and stock name for all dates in last_valid_date table from stock_index table")

In [25]:
print(opening_prices)

 The opening prices and stock names for all dates in the first_valid_date table from the stock_index table are TORNTPHARM.NS (136.0, 159.5, 151.75, 205.5, 353.7749938964844, 658.75, 688.0, 610.2999877929688, 705.5499877929688, 779.0, 1190.5, 1454.0, 1425.0, 1910.0), CUMMINSIND.NS (421.4285583496094, 487.71429443359375, 451.70001220703125, 456.0, 648.2999877929688, 895.0, 848.0, 915.0, 647.6500244140625, 767.8499755859375, 392.3500061035156, 904.9500122070312, 1016.0, 1947.0), and ATUL.NS (101.0, 177.0, 225.39999389648438, 309.0, 891.3499755859375, 1174.800048828125, 2070.0, 2430.0, 2674.85009765625, 4009.0, 4550.0, 8926.0, 7988.5498046875, 7012.0) and RELIANCE.NS (536.91064453125, 449.24163818359375, 364.2968444824219, 426.9529113769531, 503.8242492675781, 495.80029296875, 481.8079528808594, 687.5823974609375, 963.2196655273438, 1246.2369384765625, 1720.0, 2118.0, 2574.89990234375, 2558.050048828125).

In [26]:
print(closing_prices)

 The closing prices and stock names for all dates in the last_valid_date table from the stock_index table are TORNTPHARM.NS at 141.8125, 163.5749969482422, 166.6374969482422, 214.47500610351562, 371.8500061035156, 720.8250122070312, 720.2249755859375, 659.0250244140625, 764.2999877929688, 835.4249877929688, 1331.800048828125, 1535.550048828125, 1528.800048828125, 1945.199951171875; CUMMINSIND.NS at 454.5714416503906, 457.8928527832031, 427.3999938964844, 428.0, 626.6500244140625, 998.1500244140625, 870.5999755859375, 987.75, 673.5, 709.0, 401.6499938964844, 852.4000244140625, 1226.8499755859375, 1918.4000244140625; and ATUL.NS at 108.1500015258789, 205.5, 270.8999938964844, 309.70001220703125, 1192.75, 1270.550048828125, 1921.6500244140625, 2198.85009765625, 2845.10009765625, 3641.10009765625, 5053.9501953125, 9053.349609375, 8886.9501953125, 6561.7001953125; and RELIANCE.NS at 500.0846862792969, 410.0877685546875, 368.3088073730469, 431.93072509765625, 498.4997253417969, 496.2213134765625, 502.68505859375, 800.0166625976562, 1174.863525390625, 1155.2989501953125, 2067.10009765625, 2035.300048828125, 2509.449951171875, and 2740.699951171875.

In [27]:
from collections import defaultdict
class RunningMean:
    def __init__(self):
        self._sum = 0.
        self._count = 0
    def update_count(self):
        self._count += 1
    def update_sum(self, val):
        self._sum += val
    def mean(self):
        return self._sum / self._count

stocks_pct_count = {}
for open_price_info, close_price_info in zip(opening_prices.metadata['result'], closing_prices.metadata['result']):
    if open_price_info[0] == close_price_info[0]:
        stock = open_price_info[0]
        if stock not in stocks_pct_count:
            stocks_pct_count[stock] = RunningMean()
        pct = ((close_price_info[1] - open_price_info[1])/open_price_info[1])*100
        stocks_pct_count[stock].update_sum(pct >= 4)
        stocks_pct_count[stock].update_count()
print(list(filter(lambda stock : stocks_pct_count[stock].mean() > 0.8, stocks_pct_count)))

['TORNTPHARM.NS']

In [1]:
from guardrails.applications.text2sql import Text2Sql

In [7]:
app = Text2Sql(
    "sqlite:///:memory:",
    
)

In [8]:
print(app("How many unique stocks are available in the table?"))

None